aiofiles==23.2.1
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiolimiter==1.1.0
aioredis==2.0.1
aiosignal==1.4.0
aiosqlite==0.21.0
aliyun-python-sdk-core==2.16.0
aliyun-python-sdk-kms==2.16.5
amqp==5.3.1
annotated-types==0.7.0
anthropic==0.18.1
antlr4-python3-runtime==4.9.3
anyio==4.11.0
anytree==2.12.1
appnope==0.1.4
asgiref==3.8.1
asttokens==2.4.1
async-timeout==4.0.2
attrs==25.3.0
audioread==3.0.1
aws-requests-auth==0.4.3
backoff==2.2.1
bce-python-sdk==0.9.17
beautifulsoup4==4.13.5
billiard==4.2.1
blinker==1.9.0
boto3==1.40.37
botocore==1.40.55
Brotli==1.1.0
bs4==0.0.1
cachetools==6.2.0
camel-converter==3.1.2
celery==5.5.3
certifi==2025.8.3
cffi==1.17.1
channels==4.0.0
chardet==5.2.0
charset-normalizer==3.4.3
click==8.1.3
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cloudpickle==3.0.0
comm==0.2.2
configparser==5.3.0
crcmod==1.7
cryptography==44.0.0
curl_cffi==0.7.4
dashscope==1.19.3
dataclasses-json==0.6.7
debugpy==1.8.2
decorator==5.1.1
Deprecated==1.2.18
deprecation==2.1.0
dill==0.4.0
diskcache==5.6.3
distro==1.9.0
Django==5.0.6
dnspython==2.6.1
docstring_parser==0.17.0
ecdsa==0.19.1
editdistance==0.8.1
elastic-transport==8.4.0
elasticsearch==8.7.0
et-xmlfile==1.1.0
executing==2.0.1
faiss-cpu==1.7.4
Farama-Notifications==0.0.4
fastapi==0.119.0
fastjsonschema==2.20.0
ffmpy==0.5.0
filelock==3.15.4
filetype==1.2.0
fire==0.4.0
Flask==3.1.2
frozenlist==1.7.0
fsspec==2024.6.0
funasr==1.2.2
future==1.0.0
g4f==0.4.1.1
gitdb==4.0.11
gitignore_parser==0.1.9
GitPython==3.1.40
google-ai-generativelanguage==0.7.0
google-api-core==2.25.2
google-auth==2.41.1
google-generativeai==0.4.1
googleapis-common-protos==1.70.0
gptcache==0.1.10
gradio==5.12.0
gradio_client==1.5.4
grandalf==0.8
greenlet==3.2.4
grpcio==1.75.1
grpcio-status==1.75.1
grpcio-tools==1.64.1
gymnasium==0.29.1
h11==0.16.0
h2==4.1.0
hf-xet==1.2.0
hpack==4.0.0
httpcore==1.0.9
httplib2==0.22.0
httptools==0.7.1
httpx==0.28.1
httpx-sse==0.4.1
huggingface-hub==0.36.0
hupper==1.12.1
hydra-core==1.3.2
hyperframe==6.0.1
idna==3.10
imageio==2.36.1
imageio-ffmpeg==0.5.1
imap-tools==1.5.0
importlib_metadata==8.7.0
install-playwright==0.1.1
ipykernel==6.27.1
ipython==8.17.2
ipywidgets==8.1.1
isodate==0.6.1
itsdangerous==2.2.0
jaconv==0.4.0
jamo==0.4.1
jedi==0.19.1
jieba==0.42.1
Jinja2==3.1.2
jiter==0.11.0
jmespath==1.0.1
joblib==1.4.2
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-path==0.3.3
jsonschema-spec==0.2.4
jsonschema-specifications==2023.7.1
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyterlab_widgets==3.0.11
kaldiio==2.18.0
kombu==5.5.4
lancedb==0.4.0
langchain==0.3.27
langchain-community==0.3.30
langchain-core==0.3.78
langchain-google-genai==2.1.12
langchain-openai==0.3.34
langchain-text-splitters==0.3.11
langchainplus-sdk==0.0.17
langgraph==0.3.21
langgraph-checkpoint==2.1.1
langgraph-checkpoint-sqlite==2.0.11
langgraph-prebuilt==0.1.8
langgraph-sdk==0.1.74
langsmith==0.4.32
lazy-object-proxy==1.10.0
lazy_loader==0.4
libcst==1.0.1
librosa==0.10.2.post1
llvmlite==0.43.0
loguru==0.6.0
lxml==4.9.2
markdown-it-py==3.0.0
markdownify==1.2.0
MarkupSafe==2.1.2
marshmallow==3.26.1
marshmallow-enum==1.5.1
matplotlib-inline==0.1.7
mcp==1.18.0
mdurl==0.1.2
meilisearch==0.21.0
modelscope==1.22.1
more-itertools==10.3.0
motor==3.7.1
moviepy==2.1.2
mpmath==1.3.0
msgpack==1.1.0
multidict==6.6.4
multiprocess==0.70.16
mypy_extensions==1.1.0
mysql-connector-python==8.0.32
nbclient==0.9.0
nbformat==5.9.2
nest-asyncio==1.6.0
networkx==3.2.1
nova-act==2.1.36.0
numba==0.60.0
numexpr==2.8.4
numpy==2.2.6
omegaconf==2.3.0
openai==2.1.0
openapi-core==0.18.2
openapi-schema-pydantic==1.2.4
openapi-schema-validator==0.6.2
openapi-spec-validator==0.7.1
openpyxl==3.1.4
opentelemetry-api==1.38.0
opentelemetry-instrumentation==0.59b0
opentelemetry-instrumentation-threading==0.59b0
opentelemetry-sdk==1.38.0
opentelemetry-semantic-conventions==0.59b0
orjson==3.11.3
ormsgpack==1.10.0
oss2==2.19.1
overrides==7.7.0
packaging==25.0
pandas==2.3.2
parse==1.20.2
parso==0.8.4
PasteDeploy==3.1.0
pathable==0.4.3
pexpect==4.9.0
pillow==11.3.0
plaster==1.1.2
plaster-pastedeploy==1.0.1
platformdirs==4.2.2
player==0.6.1
playwright==1.55.0
pooch==1.8.2
portalocker==2.10.0
prance==23.6.21.0
proglog==0.1.10
progressbar2==4.4.2
prompt_toolkit==3.0.52
propcache==0.3.2
proto-plus==1.26.1
protobuf==6.32.1
psutil==6.0.0
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
pyarrow==16.1.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pycryptodome==3.20.0
pydantic==2.11.9
pydantic-settings==2.11.0
pydantic_core==2.33.2
pydub==0.25.1
pyee==13.0.0
pygam==0.9.1
pygame==2.6.0
Pygments==2.18.0
PyJWT==2.10.1
pylance==0.9.0
pymongo==4.15.3
pynndescent==0.5.13
pyparsing==3.2.5
pyramid==2.0.2
pyramid_jinja2==2.10.1
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==1.1.1
python-jose==3.5.0
python-multipart==0.0.20
python-utils==3.8.2
pytorch-wpe==0.0.1
pytz==2023.3
PyYAML==6.0.3
pyzmq==26.0.3
qdrant-client==1.7.0
qianfan==0.3.17.1
rank-bm25==0.2.2
ratelimiter==1.2.0.post0
redis==4.5.4
referencing==0.30.2
regex==2025.9.18
requests==2.32.5
requests-toolbelt==1.0.0
retry==0.9.2
rfc3339-validator==0.1.4
rich==14.2.0
rpds-py==0.18.1
rsa==4.9.1
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
ruff==0.9.1
s3transfer==0.14.0
safehttpx==0.1.6
safetensors==0.6.2
scikit-learn==1.3.2
scipy==1.11.4
semantic-kernel==0.4.3.dev0
semantic-version==2.10.0
semver==3.0.2
sentence-transformers==3.3.1
sentencepiece==0.2.0
shellingham==1.5.4
six==1.16.0
slack_bolt==1.26.0
slack_sdk==3.37.0
smmap==5.0.1
sniffio==1.3.1
socksio==1.0.0
soundfile==0.13.0
soupsieve==2.5
soxr==0.5.0.post1
spark-ai-python==0.3.31
SQLAlchemy==2.0.43
sqlite-vec==0.1.6
sqlparse==0.5.0
sse-starlette==3.0.2
stack-data==0.6.3
starlette==0.48.0
strands-agents==1.13.0
strands-agents-tools==0.2.12
sympy==1.13.1
ta==0.10.2
tenacity==9.1.2
tencentcloud-sdk-python==3.0.965
tensorboardX==2.6.2.2
termcolor==2.4.0
threadpoolctl==3.5.0
tiktoken==0.11.0
tokenizers==0.22.1
tomlkit==0.13.2
torch==2.5.1
torch-complex==0.4.4
torchaudio==2.5.1
tornado==6.4.1
tqdm==4.67.1
traitlets==5.14.3
transformers==4.57.1
translationstring==1.4
typer==0.15.1
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2023.3
umap-learn==0.5.7
uritemplate==4.1.1
urllib3==2.5.0
uvicorn==0.37.0
uvloop==0.17.0
venusian==3.1.0
vine==5.1.0
watchdog==6.0.0
watchfiles==0.18.1
wcwidth==0.2.13
WebOb==1.8.7
websocket-client==1.8.0
websockets==10.4
Werkzeug==3.1.3
widgetsnbextension==4.0.11
wrapt==1.15.0
xxhash==3.6.0
yarl==1.20.1
zhipuai==2.0.1
zipp==3.23.0
zope.deprecation==5.0
zope.interface==6.4.post2
zstandard==0.25.0
